# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [2]:
# Your code here
import numpy as np
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
insurance_df = pd.read_csv(url)
insurance_df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#CHALLENGE 1
#generic info
insurance_df.info()


# Nº cols: 11 and Nº rowa: 4008
#Dtypes of each col

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [4]:
#Dtypes of each column: Customer
insurance_df['Customer'].dtype

dtype('O')

In [5]:
#Dtypes of each column: ST
insurance_df['ST'].dtype

dtype('O')

In [6]:
#Dtypes of each column
for column in insurance_df.columns:
    print(f"The type of column {column} is: {insurance_df[column].dtype}")

The type of column Customer is: object
The type of column ST is: object
The type of column GENDER is: object
The type of column Education is: object
The type of column Customer Lifetime Value is: object
The type of column Income is: float64
The type of column Monthly Premium Auto is: float64
The type of column Number of Open Complaints is: object
The type of column Policy Type is: object
The type of column Vehicle Class is: object
The type of column Total Claim Amount is: float64

In [7]:
#Identify the number of unique values for each column
insurance_df
for column in insurance_df.columns:
    print(f"The type of column {column} is: {insurance_df[column].nunique}")

The type of column Customer is: <bound method IndexOpsMixin.nunique of 0       RB50392
1       QZ44356
2       AI49188
3       WW63253
4       GA49547
         ...
4003        NaN
4004        NaN
4005        NaN
4006        NaN
4007        NaN
Name: Customer, Length: 4008, dtype: object>
The type of column ST is: <bound method IndexOpsMixin.nunique of 0       Washington
1          Arizona
2           Nevada
3       California
4       Washington
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: ST, Length: 4008, dtype: object>
The type of column GENDER is: <bound method IndexOpsMixin.nunique of 0       NaN
1         F
2         F
3         M
4         M
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: GENDER, Length: 4008, dtype: object>
The type of column Education is: <bound method IndexOpsMixin.nunique of 0                     Master
1                   Bachelor
2                   Bachelor
3                   Bachelor
4       High School or Below
                ...
4003                     NaN
4004                     NaN
4005                     NaN
4006                     NaN
4007                     NaN
Name: Education, Length: 4008, dtype: object>
The type of column Customer Lifetime Value is: <bound method IndexOpsMixin.nunique of 0               NaN
1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: Customer Lifetime Value, Length: 4008, dtype: object>
The type of column Income is: <bound method IndexOpsMixin.nunique of 0           0.0
1           0.0
2       48767.0
3           0.0
4       36357.0
         ...
4003        NaN
4004        NaN
4005        NaN
4006        NaN
4007        NaN
Name: Income, Length: 4008, dtype: float64>
The type of column Monthly Premium Auto is: <bound method IndexOpsMixin.nunique of 0       1000.0
1         94.0
2        108.0
3        106.0
4         68.0
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: Monthly Premium Auto, Length: 4008, dtype: float64>
The type of column Number of Open Complaints is: <bound method IndexOpsMixin.nunique of 0       1/0/00
1       1/0/00
2       1/0/00
3       1/0/00
4       1/0/00
         ...
4003       NaN
4004       NaN
4005       NaN
4006       NaN
4007       NaN
Name: Number of Open Complaints, Length: 4008, dtype: object>
The type of column Policy Type is: <bound method IndexOpsMixin.nunique of 0        Personal Auto
1        Personal Auto
2        Personal Auto
3       Corporate Auto
4        Personal Auto
             ...
4003               NaN
4004               NaN
4005               NaN
4006               NaN
4007               NaN
Name: Policy Type, Length: 4008, dtype: object>
The type of column Vehicle Class is: <bound method IndexOpsMixin.nunique of 0       Four-Door Car
1       Four-Door Car
2        Two-Door Car
3                 SUV
4       Four-Door Car
            ...
4003              NaN
4004              NaN
4005              NaN
4006              NaN
4007              NaN
Name: Vehicle Class, Length: 4008, dtype: object>
The type of column Total Claim Amount is: <bound method IndexOpsMixin.nunique of 0          2.704934
1       1131.464935
2        566.472247
3        529.881344
4         17.269323
           ...
4003            NaN
4004            NaN
4005            NaN
4006            NaN
4007            NaN
Name: Total Claim Amount, Length: 4008, dtype: float64>

In [8]:
#mean, median, mode, standard deviation, and quartiles
insurance_df.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

## Challenge 2: analyzing the data

In [9]:
insurance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [10]:
# Your code here
#Quiero saber cuántos países hay de manera automática
insurance_df['ST'].value_counts()
values = [120, 98, 81, 30, 25]
Names = ['Cali','Nevada','Washington','WA','AZ']

series = pd.Series(values, index = Names)
print(series)

series_sort = series.sort_values(ascending=True)
print(series_sort)



#ST create a panda series object that contains customer location and their frequencies
#series = pd.series()

Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
dtype: int64
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [11]:
# Your code here#
insurance_df['Policy Type'].value_counts()

values_Pol = [780, 234, 57]
names_Pol = ['Personal Auto', 'Corporate Auto', 'Special Auto']
series_pol = pd.Series(values_Pol, index=names_Pol)
print('The serie, is: ', series_pol)

series_pol.max()

The serie, is:  Personal Auto     780
Corporate Auto    234
Special Auto       57
dtype: int64

780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [23]:

# Personal Auto
personal_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Personal Auto']

#Corporate Auto
corporate_auto_df = insurance_df.loc[insurance_df['Policy Type'] == 'Corporate Auto']

#Personal Auto Income
personal_auto_avg_income = personal_auto_df['Income'].mean()

#Corporate Auto Income
corporate_auto_avg_income = corporate_auto_df['Income'].mean()

print(f"Average Income for Personal Auto: ${personal_auto_avg_income:,.2f}")
print(f"Average Income for Corporate Auto: ${corporate_auto_avg_income:,.2f}")

Average Income for Personal Auto: $38,180.70
Average Income for Corporate Auto: $41,390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here